.cable-red, .cable-black,.cable-grey,.cable-orange,.cable-blue, .cable-yellow, .cable-green,.cable-pink ,.cable-cor-pink,.cable-cor-orange,.cable-cor-grey,.cable-cor-black,.cable-cor-red,.cable-cor-blue,.cable-cor-yellow ,.cable-cor-green ,.cable-resp {
    justify-content: center; 
    align-items: center;
    width: 90%;
    height: 40%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: url('./images/images-cables/tijera_cursor.png'), auto;
    pointer-events: all;
    z-index: 999;
}

.cable-cor-red {
    background-image: url("./images/images-cables/cablecor-red.png");
}

.cable-cor-blue {
    background-image: url("./images/images-cables/cablecor-blue.png");
}

.cable-cor-yellow {
    background-image: url("./images/images-cables/cablecor-yellow.png");
}

.cable-cor-green {
    background-image: url("./images/images-cables/cablecor-green.png");
}

.cable-cor-black {
    background-image: url("./images/images-cables/cablecor-black.png");
}

.cable-cor-pink {
    background-image: url("./images/images-cables/cablecor-pink.png");
}

.cable-cor-orange {
    background-image: url("./images/images-cables/cablecor-orange.png");
}

.cable-cor-grey {
    background-image: url("./images/images-cables/cablecor-grey.png");
}

.cable-red {
    background-image: url("./images/images-cables/cable-red.png");
}

.cable-blue {
    background-image: url("./images/images-cables/cable-blue.png");
}


.cable-black {
    background-image: url("./images/images-cables/cable-black.png");
}

.cable-pink {
    background-image: url("./images/images-cables/cable-pink.png");
}

.cable-orange {
    background-image: url("./images/images-cables/cable-orange.png");
}

.cable-grey {
    background-image: url("./images/images-cables/cable-grey.png");
}

.cable-yellow {
    background-image: url("./images/images-cables/cable-yellow.png");
}

.cable-green {
    background-image: url("./images/images-cables/cable-green.png");
}

.cable-cor {
    background-image: url("./images/images-cables/cable-cortado.png");
}

.cables-container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    position: absolute;
    width: 108%;
    height:95%;
    left: -5%;
    top:2%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("./images/images-cables/Cables.png");
}

@keyframes glow {
  0%, 100% { box-shadow: 0 0 10px 3px yellow; }
  50% { box-shadow: 0 0 20px 8px yellow; }
}

.cable-red:hover,
.cable-blue:hover,
.cable-yellow:hover,
.cable-green:hover,
.cable-pink:hover,
.cable-orange:hover,
.cable-grey:hover,
.cable-black:hover,
.cable-cor-red:hover,
.cable-cor-blue:hover,
.cable-cor-yellow:hover,
.cable-cor-green:hover,
.cable-cor-pink:hover,
.cable-cor-grey:hover,
.cable-cor-orange:hover,
.cable-cor-black:hover,
.cable-resp:hover {
    outline: 3px solid yellow;
    animation: glow 1s infinite;
    border-radius: 8px;
}

