.tapa{
    justify-content: center; 
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    background-image: url("./images/images-bomba/Tapa.png");
}

.tapa-fall {
    justify-content: center; 
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("./images/images-bomba/Tapa.png");
    animation: fall 2s ease-in-out forwards;
}

@keyframes fall {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateX(200px);
        opacity: 0,5;
    }
}

.cables-borrosos-4,
.cables-borrosos-5,
.cables-borrosos-6,
.cables-borrosos-7,
.cables-borrosos-8{
    justify-content: center; 
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    top: 10%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cables-borrosos-4 {
  background-image: url("./images/images-bomba/cables-borrosos-4.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.cables-borrosos-5 {
  background-image: url("./images/images-bomba/cables-borrosos-5.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.cables-borrosos-6 {
  background-image: url("./images/images-bomba/cables-borrosos-6.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.cables-borrosos-7 {
  background-image: url("./images/images-bomba/cables-borrosos-7.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.cables-borrosos-8 {
  background-image: url("./images/images-bomba/cables-borrosos-8.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

