@font-face {
  font-family: 'DS-DIGITB';
  src: url('../assets/fonts/DS-DIGIB.TTF');
}

.DS-DIGITB {
  font-family: 'DS-DIGITB', sans-serif;
}

/* CONTENEDOR GENERAL */
.temporizador{
  position: absolute;
  width: 75%;
  height: 10%;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'DS-DIGITB', monospace;
  color: rgb(8, 10, 8);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3vw;
}

.temporizador-descubierto {
  position: absolute;
  width: 75%;
  height: 10%;
  top: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'DS-DIGITB', monospace;
  color: rgb(8, 10, 8);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5vw;
  top: 15%;
  width: 80%;
}

/* CONTENEDOR DE LOS DÍGITOS */
.digitos-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1%;
  width: 100%;
  height: 100%;
  padding: 0% 5% 0% 5%;
}

/* DÍGITO BASE - tamaño relativo al contenedor */
.digit {
  flex: 1; /* reparte proporcionalmente el espacio */
  height: 80%; /* altura relativa al contenedor */
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* MAPA DE IMÁGENES */
.digit-0 { background-image: url("/images/images-numeros/cero.png"); }
.digit-1 { background-image: url("/images/images-numeros/uno.png"); }
.digit-2 { background-image: url("/images/images-numeros/dos.png"); }
.digit-3 { background-image: url("/images/images-numeros/tres.png"); }
.digit-4 { background-image: url("/images/images-numeros/cuatro.png"); }
.digit-5 { background-image: url("/images/images-numeros/cinco.png"); }
.digit-6 { background-image: url("/images/images-numeros/seis.png"); }
.digit-7 { background-image: url("/images/images-numeros/siete.png"); }
.digit-8 { background-image: url("/images/images-numeros/ocho.png"); }
.digit-9 { background-image: url("/images/images-numeros/nueve.png"); }

/* === DOS PUNTOS - tamaño normal === */
.temporizador .colon {
  font-size: 3vh;
  font-weight: bold;
  font-family: monospace;
  margin: 0 1%;
  transition: opacity 0.2s;
}

/* === DOS PUNTOS - tamaño grande (modo descubierto) === */
.temporizador-descubierto .colon {
  font-size: 6vh;
  font-weight: bold;
  font-family: monospace;
  margin: 0 1%;
  transition: opacity 0.2s;
}