@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');



  .bomba-principal {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width : 100%;
    height: 100%;
    background-image: url("../assets/images/bomba-principal.png");
  }

  .bomba-modulo {
    background-position: center;
	  background-repeat: no-repeat;
	  background-size: contain;
	  display: flex;
	  flex-direction: column;
  	align-items: center;
	  justify-content: center;
    position: relative;
    width : 100%;
    height: 100%;
    background-image: url("../assets/images/bomba-modulo.png");
  }

  .button-container{ 
    display: flex;
    justify-content: center; 
    align-items: center;
    position: absolute;
    width: 10%;
    height: 10%;
    transform: translateY(-20%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .button-principal  {
    position: absolute;
    width: 30%;
    height: 30%;
    background-color: red;  
    border: 2px solid black; 
    color: black; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10%; 
    font-size: 10px; 
    font-family: 'Staatliches', sans-serif; 
    cursor: pointer;
    transition: 0.3s; 
    line-height: 1; 
    transform : translateY(500%);
    text-transform: uppercase; 
}

.button-modulo {
  position: absolute;
  width: 60%;
  height: 60%;
  background-color: red;  
  border: 2px solid black; 
  color: black; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px; 
  font-size: 20px; 
  font-family: 'Staatliches', sans-serif; 
  cursor: pointer;
  transform : translateY(400%);
  transition: 0.3s; 
  line-height: 1; 
  text-transform: uppercase; 
}

button:hover {
    background-color: darkred;
    border-color: white;
}


